name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT in background
        run: java -jar ./artifacts/app-mbank.jar &

      - name: Run Gradle tests
        run: ./gradlew test

      - name: Upload test results
        uses: actions/upload-artifact@v4  # Обновлено с v3 до v4
        with:
          name: test-results
          path: build/reports/tests/test/
